@{
    ViewData["Title"] = "personal";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<style type="text/css">
body
{
background-image:
url('https://wallpaper.dog/large/20455774.jpg')
}
</style>

<h1>Ismael Luna</h1> 
<img src="https://i.pinimg.com/236x/70/fb/81/70fb81379eedec7d6bc3716f131be2ee.jpg"/>

<h1>Top 3 empresas telefonicas</h1> 


<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Apple
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>.</strong> Apple fue fundada en 1976 por Steve Jobs y Steve Wozniak para comercializar ordenadores personales. Con sede en Cupertino, California, actualmente es la principal empresa tecnológica del mundo, con productos como el móvil iPhone, la tableta iPad, los reproductores iPod y los ordenadores Mac.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Samsung
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>.</strong> samsung, empresa surcoreana, es uno de los mayores productores de aparatos electrónicos del mundo. Se especializa en la producción de una amplia variedad de productos electrónicos de consumo e industriales, incluidos electrodomésticos, dispositivos de medios digitales, semiconductores, chips de memoria y sistemas integrados. La historia de Samsung es digna de ser conocida.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Xiaomi
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>.</strong> La marca china de celulares inteligentes Xiaomi está vendiendo celulares como ‘pan caliente’. Su receta de éxito es reducir los márgenes de utilidad para ofrecer dispositivos de última generación a un mejor precio de la competencia.
        Por primera vez en Colombia, el gerente general de Xiaomi Latam, Tony Chen, explica detalles de esta empresa, que ya es la tercera fabricante de celulares del mundo y del fundador, un admirador furibundo de Steve Jobs.
      </div>
    </div>
  </div>
</div>
